---
import { getCollection } from 'astro:content';
const posts = (await getCollection('video'));

const json = await fetch('http://127.0.0.1:3000/src/json/data.json').then((response) =>
  response.json()
);

const videoData = json.videos
---

<ul class="flex flex-wrap justify-center gap-7 list-none m-8">
    {
        videoData.map((video: { slug: any; heroimg: string | null | undefined; icon: string | null | undefined; title: unknown; chanel: unknown; views: unknown; time: unknown; }) => (
            <li>
                <a href={`/video/${video.slug}`}>
                    <div class="h-64 w-64 rounded bg-lightpurple shadow-md cursor-pointer hover:shadow-2xl hover:text-pink">
                    <img class="h-3/5 w-5/5 rounded" src={video.heroimg} />
                    <div class="flex mt-4 gap-2">
                    <img class="h-8 w-8 rounded-full ml-2" src={video.icon} />
                    <div>
                        <p class="font-semibold font-sans text-pink text-lg">{video.title}</p>
                        <div class="mt-1">
                            <p class="font-sans text-darkgray text-sm font-medium">{video.chanel}</p>
                            <div class="flex gap-2">
                                <p class="font-sans text-darkgray text-xs font-normal">{video.views} views</p>
                                <p class="font-sans text-darkgray text-xs font-normal">{video.time}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </a>
            </li>
        ))
    }
</ul>