---
import InputBar from "../components/InputBar.astro";
import SideBar from "../components/SideBar.astro";
import Layout from "./Layout.astro";

const { title, videos } = Astro.props;
console.log(videos)
---

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>

<Layout title={title}>
    <div class="sticky top-0">
        <InputBar />
    </div>
    <div class="flex gap-14 bg-purplebg">
        <SideBar />
		<ul class="flex flex-wrap justify-center gap-7 list-none m-8">
				{videos.map((video: any) => (
				<li class="list-none">
                 <a href={`/video/${video.slug}`}>
                    <div class="h-64 w-64 rounded bg-lightpurple shadow-md cursor-pointer hover:shadow-2xl">
                    <img class="h-3/5 w-5/5 rounded" src={video.heroimg} />
                    <div class="flex mt-4 gap-2">
                    <img class="h-8 w-8 rounded-full ml-2" src={video.icon} />
                    <div>
                        <p class="font-semibold font-sans text-pink text-lg">{video.title}</p>
                        <div class="mt-1">
                            <p class="font-sans text-darkgray text-sm font-medium">{video.chanel}</p>
                            <div class="flex gap-2">
                                <p class="font-sans text-darkgray text-xs font-normal">{video.views} views</p>
                                <p class="font-sans text-darkgray text-xs font-normal">{video.time}</p>
                            </div>
                        </div>
                     </div>
                     </div>
                    </div>
                 </a>
                </li>
				))}
		</ul>
    </div>
</Layout>
