---
import BlogPost from '../../layouts/BlogPost.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const response = await fetch('http://127.0.0.1:3000/src/json/data.json');
	const data = await response.json();
	
	const videoData = data.videos;
	return videoData.map((video: { slug: string; heroimg: string | null | undefined; icon: string | null | undefined; title: unknown; chanel: unknown; views: unknown; time: unknown; description: string, subscribers: string }) => ({
		params: { slug: video.slug },
		props: {
			title: video.title,
			heroImage: video.heroimg,
			icon: video.icon,
			chanel: video.chanel,
			views: video.views,
			time: video.time,
			description: video.description,
			subscribers: video.subscribers
		},
	}));
}

const { title, description, heroImage, icon, chanel, views, subscribers } = Astro.props
---

<Layout title={title}>
	<div class="bg-purplebg">
		<BlogPost 
		  title={title} 
		  chanel={chanel}
		  icon={icon}
		  views={views}
		  heroImage={heroImage}
		  subscribers={subscribers}
		/>
	</div>
</Layout>
