---
import BlogPost from '../../layouts/BlogPost.astro';
import Layout from '../../layouts/Layout.astro';
import UniqueInputBar from '../../components/unique/UniqueInputBar.astro';

	const response = await fetch('http://127.0.0.1:8055/items/Videos');
	const responceData = await response.json();
	
	const videoData = responceData.data;
// export async function getStaticPaths() {
// 	return videoData.map((video: { slug: string; heroimg: string | null | undefined; icon: string | null | undefined; title: unknown; chanel: unknown; views: unknown; time: unknown; description: string, subscribers: string }) => ({
// 		params: { slug: video.slug },
// 		props: {
// 			title: video.title,
// 			heroImage: video.heroimg,
// 			icon: video.icon,
// 			chanel: video.chanel,
// 			views: video.views,
// 			time: video.time,
// 			description: video.description,
// 			subscribers: video.subscribers
// 		},
// 	}));
// }

const video = videoData.map((video: { slug: string; heroimg: string | null | undefined; 
	icon: string | null | undefined; title: unknown; chanel: unknown; views: unknown; 
	time: unknown; description: string, subscribers: string, videolink: string }) => ({
		slug: video.slug,
			title: video.title,
			heroImage: video.heroimg,
			icon: video.icon,
			chanel: video.chanel,
			views: video.views,
			time: video.time,
			description: video.description,
			subscribers: video.subscribers,
			videolink: video.videolink
	}));

const { slug } = Astro.params;
const page = video.find((page: any) => page.slug === slug);

const { title, description, heroImage, icon, chanel, views, subscribers, videolink } = page
---

<Layout title={title}>
	<div class="bg-purplebg">
		<body>
			<main>
				<section class="bg-purplebg relative" style="height: 120vh;">
						<div class="top-0 sticky z-50">
							<UniqueInputBar />
						</div>
							<div class="w-3/4 relative mt-12 z-10 left-1/4 mr-0">
							<!-- <div class="flex justify-center relative mt-12 z-10"> -->
									<!-- <img class="h-2/5 w-3/5 rounded" src={heroImage} alt="" /> -->
										<iframe class="w-3/5 h-96" src={videolink} 
										title="YouTube video player" 
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
										allowfullscreen></iframe>
										<div class="mt-4 w-3/5">
											<p class="font-semibold font-sans text-pink text-lg sm:text-2xl">{title}</p>
											<p class="font-sans text-darkgray text-sm font-medium">{views} views</p>
											<div class="mt-4 border-t-2 border-b-2 border-green">
												<div class="flex flex-wrap gap-2 mt-2 mb-2 cursor-pointer">
													<img class="h-8 w-8 rounded-full" src={icon} />
													<div>
														<p class="font-sans text-white text-md font-medium">{chanel}</p>
														<p class="font-sans text-darkgray text-sm font-medium">{subscribers} subscribers</p>
													</div>
													<a href="#" class="hidden sm:block font-sans text-purplebg bg-pink text-center align-middle text-base sm:text-lg font-medium py-2 px-4 rounded-full cursor-pointer hover:text-blue-600">Channel</a>
												</div>
											</div>
											<div>
												<p class="font-sans text-white text-xl font-medium">Description:</p>
												<p class="font-sans text-gray-500 sm:text-base text-xs font-medium">{description}</p>
											</div>
										</div>
							</div>
					</section>
			</main>
		</body>
	</div>
</Layout>
